.c-card__container {
    cursor: pointer;
    height: 300px;
    perspective: 600;
    position: relative;
    width: 200px;
    margin: 20px;
    font-family: "Source Sans Pro";
    font-size: 16px;
  }

  .c-card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.55, 0, 0, 1);
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
  }

  .c-card:hover {
    transform: rotateY(180deg);
  }

  .c-card__side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .c-card__side-back {
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
    background: #ffffff;
    border-radius: 6px;
  }

  .c-card__front-headline, .c-card__front-team {
    font-size: 0.6em;
    margin: 0px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-card__front-headline .c-name {
    font-family: "Playfair Display";
    font-weight: 100;
  }

  .c-card__front-headline .c-mbti {
    font-weight: 100;
    color: rgb(155, 155, 155);
  }

  .c-portrait {
    padding: 10px 0px;
    margin: auto;
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 100;
    color: rgb(155, 155, 155);
    width: 170px;
    height: 170px;
    border-radius: 100%;
  }

  .c-card__front-team {
    font-size: 0.75em;
  }

  .c-card__front-team .c-subteam {
    font-weight: 100;
  }

  .c-card__front-team .c-team {
    font-weight: 100;
  }

  /* .c-card__front-team {
    float: right;
  } */