.c-navbar__items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-nav__item {
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

.c-filter {
    float: right;
    display: block;
    text-align: center;
    padding: 17px 16px;
}